body
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url(img/bg.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
}
.container h1 {
    color: #fff;
    margin-top: 100px;
}

p{
    
    color: #fff;
}
button{
    
    padding:10px;
    border-radius:20px;
    font-size:20px;
    font-weight:bolder;
    width: 250px;
    background-color: rgb(56, 47, 179);
    margin-top: 50px;
    color: white;
}

a{
    text-decoration: none;
    color: #fff;
}